* {
   margin: 0;
   padding: 0;
}
body {
   background-color: antiquewhite;
}
.wrapper {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   text-align: center;
   margin-top: 10%;
}
.title {
   color: #00B9FF;
   font-family: monospace;
   font-size: 30px;
   width: 100%;
}
.skittles {
   border-radius: 50%;
   width: 300px;
   height: 300px;
   margin-top: 50px;
   overflow: hidden;
}